<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>PRODUCT LIST</h1>
    <form method="get">
        <input type="text" name="q" placeholder="Search products..."
            value="{{ query|default:'' }}">

        <select name="sort" onchange="this.form.submit()">
            <option value="">Sort By</option>
            <option value="name" {% if sort == 'name' %}selected{% endif %}>Name</option>
            <option value="quantity" {% if sort == 'quantity' %}selected{% endif %}>Quantity</option>
            <option value="created" {% if sort == 'created' %}selected{% endif %}>Newest</option>
        </select>

        <button type="submit">Apply</button>
    </form>

    <table border="1" cellpadding="8">
        <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Status</th>
            <th>Active</th>
            <th>Created At</th>
        </tr>

        {% for product in data %}
        <tr>
            <td>{{ product.name }}</td>
            <td>{{ product.category.name }}</td>
            <td>{{ product.price }}</td>
            <td>{{ product.quantity }}</td>
            <td>{{ product.get_status_display }}</td>
            <td>
                {% if product.is_active %}
                    Yes
                {% else %}
                    No
                {% endif %}
            </td>
            <td>{{ product.created_at }}</td>
    
            <td>
                <a href="{% url 'update_product' product.id %}"><button>Edit</button></a>
                <a href="{% url 'delete_product' product.id %}"><button>Delete</button></a>
            </td><br>
            <td>
                <a href="{% url 'stock_in' product.id %}">Stock In</a>
                <a href="{% url 'stock_out' product.id %}">Stock Out</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="7">No products found.</td>
        </tr>
        {% endfor %}
    </table>
    {% if data.has_previous %}
    <a href="?page={{ data.previous_page_number }}
        {% if query %}&q={{ query }}{% endif %}
        {% if sort %}&sort={{ sort }}{% endif %}">
        Previous
    </a>
    {% endif %}

    <span>
        Page {{ data.number }} of {{ data.paginator.num_pages }}
    </span>

    {% if data.has_next %}
        <a href="?page={{ data.next_page_number }}
            {% if query %}&q={{ query }}{% endif %}
            {% if sort %}&sort={{ sort }}{% endif %}">
            Next
        </a>
    {% endif %}

</body>
</html>